.container {
    // margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-radius: 1rem;
}

.container input {
    border: solid black;
    border-radius: 0.5rem;
    padding: 1rem;
}

.container button {
    border: solid;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;

    &.dark {
        color: white;
    }
}

.suggestions-list {
    z-index: 10;
    border: solid;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: rgb(217, 217, 217);
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0.4rem;
    margin-top: 2rem;
    border-radius: 0 0 5px 5px;
    max-height: 3.7rem;
}
