.weatherApp {
    // border: solid black;

    .search {
        // border: solid;
        display: flex;

        input {
            padding: 0.5rem;
            // margin-right: 0.5rem;
            border: none;
            border-bottom: solid;
        }

        button {
            background: none;
            border: none;
        }
    }
}